In [134]:
import pandas as pd
import numpy as np
import seaborn as sns
import swifter
from numba import jit

In [135]:
PATH_PROCESSED = "dados_processados/" 
columns = ['NU_INSCRICAO', 'TX_RESPOSTAS_CN']

In [136]:
ch_answers = pd.read_csv(PATH_PROCESSED +"TX_RESPOSTAS_CN.csv",sep=";",header=None)
ch_answers_corrected = pd.read_csv(PATH_PROCESSED +"CORRECTED_TX_RESPOSTAS_CN.csv",sep=";",header=None)

In [137]:
ch_answers.columns = columns

In [161]:
np.invert(ch_answers_corrected.loc[:,1:].iloc[0])

1      True
2      True
3      True
4      True
5     False
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21    False
22     True
23     True
24     True
25     True
26     True
27    False
28     True
29    False
30    False
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
44     True
45     True
Name: 0, dtype: bool

In [174]:
def get_wrong(index):
    arr = np.array(list(ch_answers["TX_RESPOSTAS_CN"].iloc[index]))
    boolean_list = np.invert(ch_answers_corrected.loc[:,1:].iloc[index])
    indices = [index for index, value in enumerate(boolean_list) if value]

    wrong_answers = arr[boolean_list]
    itemset = [f"Q{ind + 1}-{wrong};" for ind,wrong in zip(indices,wrong_answers)]
    itemset[-1] = itemset[-1][:-1]
    return "".join(itemset)

In [178]:
ch_answers["TX_WRONG"] = np.array(list(map(get_wrong,range(len(ch_answers)))))

In [179]:
ch_answers

,NU_INSCRICAO,TX_RESPOSTAS_CN,TX_WRONG
0,210054534656,DAEDDEEBDCEBACCEADEAACBADCCBAEEDCADEDBDAACECD,Q1-D;Q2-A;Q3-E;Q4-D;Q6-E;Q7-E;Q8-B;Q9-D;Q10-C;...
1,210057182714,EDEABCEACDEBBECDDCDCACCDECDBCDADCDCBDDBACCDCE,Q1-E;Q3-E;Q5-B;Q6-C;Q7-E;Q8-A;Q9-C;Q10-D;Q11-E...
2,210056185147,DBEBACDEAECBCEDBEBCEDCDEBAEEADBAABDDADBDCEAEB,Q1-D;Q2-B;Q3-E;Q4-B;Q5-A;Q6-C;Q7-D;Q10-E;Q12-B...
3,210056368452,ACCABECAEBBBBCCEEBBEACDCBCCCEDBBCDCCACADCAECE,Q2-C;Q3-C;Q5-B;Q6-E;Q7-C;Q8-A;Q9-E;Q11-B;Q12-B...
4,210057293916,EBBAACEAECBBDCEDCBDABADDDACECDBEACECDBDDACADD,Q1-E;Q2-B;Q5-A;Q6-C;Q7-E;Q8-A;Q9-E;Q10-C;Q11-B...
...,...,...,...
6494,210055345217,EDCBBBBEACBABEBBEDEDACABDAECDCCDCABCABCDAEECB,Q1-E;Q3-C;Q4-B;Q5-B;Q6-B;Q10-C;Q11-B;Q12-A;Q13...
6495,210054922757,EBBDBBDBDDEDABDEEBBBBBDCDEECCDABCDBCBBCCCBEBD,Q1-E;Q2-B;Q4-D;Q5-B;Q6-B;Q7-D;Q8-B;Q9-D;Q10-D;...
6496,210054883667,ACCBBBECABEDBCCEABCDADCCBCCABCBDCBBAABACDECDC,Q2-C;Q3-C;Q4-B;Q5-B;Q6-B;Q7-E;Q8-C;Q11-E;Q12-D...
6497,210056206651,BAEBACACBCEDECDEEEEDABACCBCACEEBADBCCBEDAAECC,Q1-B;Q2-A;Q3-E;Q4-B;Q5-A;Q6-C;Q7-A;Q8-C;Q9-B;Q...
6498,210055354735,ACCBCEDDACEDDDBECBDDBDCEDBCCADBBCBBCDBAEACEDD,Q2-C;Q3-C;Q4-B;Q5-C;Q6-E;Q7-D;Q8-D;Q10-C;Q11-E...

In [143]:
np.array(list(ch_answers["TX_RESPOSTAS_CN"].iloc[0]))[b.iloc[0]]

array(['D', 'A', 'C', 'A', 'E'], dtype='<U1')

In [ ]:
def get_wrong_items(row):
    answers = row.iloc[1]
    template = row["IS_CORRECT"]
    return [value for value, condition in zip(answers, template) if not condition]
ch_answers.apply(get_wrong_items,axis=1)

KeyError: 'IS_CORRECT'

In [ ]:
ch_answers.apply(get_wrong_items,axis=1)

Series([], Name: 180000, dtype: object)
Series([], Name: 180001, dtype: object)
Series([], Name: 180014, dtype: object)
Series([], Name: 180016, dtype: object)
Series([], Name: 180018, dtype: object)
Series([], Name: 180032, dtype: object)
Series([], Name: 180035, dtype: object)
Series([], Name: 180047, dtype: object)
Series([], Name: 180048, dtype: object)
Series([], Name: 180059, dtype: object)
Series([], Name: 180069, dtype: object)
Series([], Name: 180077, dtype: object)
Series([], Name: 180081, dtype: object)
Series([], Name: 180089, dtype: object)
Series([], Name: 180099, dtype: object)
Series([], Name: 180101, dtype: object)
Series([], Name: 180103, dtype: object)
Series([], Name: 180104, dtype: object)
Series([], Name: 180107, dtype: object)
Series([], Name: 180110, dtype: object)
Series([], Name: 180116, dtype: object)
Series([], Name: 180118, dtype: object)
Series([], Name: 180119, dtype: object)
Series([], Name: 180134, dtype: object)
Series([], Name: 180135, dtype: object)
Series([], Name: 180138, dtype: object)
Series([], Name: 180152, dtype: object)
Series([], Name: 180155, dtype: object)
Series([], Name: 180157, dtype: object)
Series([], Name: 180159, dtype: object)
Series([], Name: 180170, dtype: object)
Series([], Name: 180172, dtype: object)
Series([], Name: 180180, dtype: object)
Series([], Name: 180191, dtype: object)
Series([], Name: 180194, dtype: object)
Series([], Name: 180201, dtype: object)
Series([], Name: 180204, dtype: object)
Series([], Name: 180205, dtype: object)
Series([], Name: 180214, dtype: object)
Series([], Name: 180223, dtype: object)
Series([], Name: 180228, dtype: object)
Series([], Name: 180232, dtype: object)
Series([], Name: 180241, dtype: object)
Series([], Name: 180242, dtype: object)
Series([], Name: 180250, dtype: object)
Series([], Name: 180260, dtype: object)
Series([], Name: 180261, dtype: object)
Series([], Name: 180262, dtype: object)
Series([], Name: 180270, dtype: object)
Series([], Name: 180272, dtype: object)
Series([], Name: 180273, dtype: object)
Series([], Name: 180294, dtype: object)
Series([], Name: 180295, dtype: object)
Series([], Name: 180296, dtype: object)
Series([], Name: 180298, dtype: object)
Series([], Name: 180304, dtype: object)
Series([], Name: 180305, dtype: object)
Series([], Name: 180314, dtype: object)
Series([], Name: 180321, dtype: object)
Series([], Name: 180327, dtype: object)
Series([], Name: 180337, dtype: object)
Series([], Name: 180342, dtype: object)
Series([], Name: 180356, dtype: object)
Series([], Name: 180361, dtype: object)
Series([], Name: 180370, dtype: object)
Series([], Name: 180378, dtype: object)
Series([], Name: 180402, dtype: object)
Series([], Name: 180403, dtype: object)
Series([], Name: 180412, dtype: object)
Series([], Name: 180414, dtype: object)
Series([], Name: 180431, dtype: object)
Series([], Name: 180439, dtype: object)
Series([], Name: 180456, dtype: object)
Series([], Name: 180458, dtype: object)
Series([], Name: 180465, dtype: object)
Series([], Name: 180476, dtype: object)
Series([], Name: 180479, dtype: object)
Series([], Name: 180484, dtype: object)
Series([], Name: 180495, dtype: object)
Series([], Name: 180503, dtype: object)
Series([], Name: 180509, dtype: object)
Series([], Name: 180522, dtype: object)
Series([], Name: 180529, dtype: object)
Series([], Name: 180531, dtype: object)
Series([], Name: 180543, dtype: object)
Series([], Name: 180547, dtype: object)
Series([], Name: 180549, dtype: object)
Series([], Name: 180553, dtype: object)
Series([], Name: 180561, dtype: object)
Series([], Name: 180572, dtype: object)
Series([], Name: 180584, dtype: object)
Series([], Name: 180590, dtype: object)
Series([], Name: 180593, dtype: object)
Series([], Name: 180595, dtype: object)
Series([], Name: 180601, dtype: object)
Series([], Name: 180604, dtype: object)
Series([], Name: 180608, dtype: object)
Series([], Name: 180611, dtype: object)
Series([], Name: 180612, dtype: object)
Series([], Name: 180626, dtype: object)
Series([], Name: 180627, dtype: object)
Series([], Name: 180629, dtype: object)
Series([], Name: 180644, dtype: object)
Series([], Name: 180653, dtype: object)
Series([], Name: 180658, dtype: object)
Series([], Name: 180660, dtype: object)
Series([], Name: 180661, dtype: object)
Series([], Name: 180662, dtype: object)
Series([], Name: 180671, dtype: object)
Series([], Name: 180672, dtype: object)
Series([], Name: 180674, dtype: object)
Series([], Name: 180677, dtype: object)
Series([], Name: 180688, dtype: object)
Series([], Name: 180695, dtype: object)
Series([], Name: 180704, dtype: object)
Series([], Name: 180707, dtype: object)
Series([], Name: 180708, dtype: object)
Series([], Name: 180710, dtype: object)
Series([], Name: 180713, dtype: object)
Series([], Name: 180715, dtype: object)
Series([], Name: 180721, dtype: object)
Series([], Name: 180725, dtype: object)
Series([], Name: 180726, dtype: object)
Series([], Name: 180737, dtype: object)
Series([], Name: 180759, dtype: object)
Series([], Name: 180765, dtype: object)
Series([], Name: 180771, dtype: object)
Series([], Name: 180778, dtype: object)
Series([], Name: 180784, dtype: object)
Series([], Name: 180790, dtype: object)
Series([], Name: 180792, dtype: object)
Series([], Name: 180793, dtype: object)
Series([], Name: 180794, dtype: object)
Series([], Name: 180803, dtype: object)
Series([], Name: 180808, dtype: object)
Series([], Name: 180810, dtype: object)
Series([], Name: 180822, dtype: object)
Series([], Name: 180831, dtype: object)
Series([], Name: 180832, dtype: object)
Series([], Name: 180835, dtype: object)
Series([], Name: 180838, dtype: object)
Series([], Name: 180839, dtype: object)
Series([], Name: 180840, dtype: object)
Series([], Name: 180842, dtype: object)
Series([], Name: 180843, dtype: object)
Series([], Name: 180845, dtype: object)
Series([], Name: 180855, dtype: object)
Series([], Name: 180870, dtype: object)
Series([], Name: 180875, dtype: object)
Series([], Name: 180876, dtype: object)
Series([], Name: 180877, dtype: object)
Series([], Name: 180885, dtype: object)
Series([], Name: 180886, dtype: object)
Series([], Name: 180891, dtype: object)
Series([], Name: 180892, dtype: object)
Series([], Name: 180903, dtype: object)
Series([], Name: 180912, dtype: object)
Series([], Name: 180919, dtype: object)
Series([], Name: 180920, dtype: object)
Series([], Name: 180926, dtype: object)
Series([], Name: 180934, dtype: object)
Series([], Name: 180935, dtype: object)
Series([], Name: 180937, dtype: object)
Series([], Name: 180940, dtype: object)
Series([], Name: 180948, dtype: object)
Series([], Name: 180949, dtype: object)
Series([], Name: 180950, dtype: object)
Series([], Name: 180951, dtype: object)
Series([], Name: 180955, dtype: object)
Series([], Name: 180966, dtype: object)
Series([], Name: 180967, dtype: object)
Series([], Name: 180969, dtype: object)
Series([], Name: 180977, dtype: object)
Series([], Name: 180979, dtype: object)
Series([], Name: 180997, dtype: object)
Series([], Name: 180998, dtype: object)
Series([], Name: 181001, dtype: object)
Series([], Name: 181008, dtype: object)
Series([], Name: 181013, dtype: object)
Series([], Name: 181016, dtype: object)
Series([], Name: 181023, dtype: object)
Series([], Name: 181032, dtype: object)
Series([], Name: 181049, dtype: object)
Series([], Name: 181051, dtype: object)
Series([], Name: 181056, dtype: object)
Series([], Name: 181060, dtype: object)
Series([], Name: 181066, dtype: object)
Series([], Name: 181068, dtype: object)
Series([], Name: 181072, dtype: object)
Series([], Name: 181073, dtype: object)
Series([], Name: 181075, dtype: object)
Series([], Name: 181084, dtype: object)
Series([], Name: 181095, dtype: object)
Series([], Name: 181135, dtype: object)
Series([], Name: 181149, dtype: object)
Series([], Name: 181151, dtype: object)
Series([], Name: 181164, dtype: object)
Series([], Name: 181175, dtype: object)
Series([], Name: 181179, dtype: object)
Series([], Name: 181186, dtype: object)
Series([], Name: 181188, dtype: object)
Series([], Name: 181189, dtype: object)
Series([], Name: 181191, dtype: object)
Series([], Name: 181196, dtype: object)
Series([], Name: 181197, dtype: object)
Series([], Name: 181200, dtype: object)
Series([], Name: 181212, dtype: object)
Series([], Name: 181218, dtype: object)
Series([], Name: 181221, dtype: object)
Series([], Name: 181225, dtype: object)
Series([], Name: 181226, dtype: object)
Series([], Name: 181236, dtype: object)
Series([], Name: 181237, dtype: object)
Series([], Name: 181246, dtype: object)
Series([], Name: 181256, dtype: object)
Series([], Name: 181261, dtype: object)
Series([], Name: 181264, dtype: object)
Series([], Name: 181265, dtype: object)
Series([], Name: 181270, dtype: object)
Series([], Name: 181277, dtype: object)
Series([], Name: 181280, dtype: object)
Series([], Name: 181284, dtype: object)
Series([], Name: 181294, dtype: object)
Series([], Name: 181303, dtype: object)
Series([], Name: 181306, dtype: object)
Series([], Name: 181313, dtype: object)
Series([], Name: 181318, dtype: object)
Series([], Name: 181321, dtype: object)
Series([], Name: 181328, dtype: object)
Series([], Name: 181336, dtype: object)
Series([], Name: 181345, dtype: object)
Series([], Name: 181356, dtype: object)
Series([], Name: 181359, dtype: object)
Series([], Name: 181365, dtype: object)
Series([], Name: 181371, dtype: object)
Series([], Name: 181372, dtype: object)
Series([], Name: 181375, dtype: object)
Series([], Name: 181376, dtype: object)
Series([], Name: 181382, dtype: object)
Series([], Name: 181395, dtype: object)
Series([], Name: 181402, dtype: object)
Series([], Name: 181406, dtype: object)
Series([], Name: 181420, dtype: object)
Series([], Name: 181427, dtype: object)
Series([], Name: 181435, dtype: object)
Series([], Name: 181443, dtype: object)
Series([], Name: 181445, dtype: object)
Series([], Name: 181447, dtype: object)
Series([], Name: 181451, dtype: object)
Series([], Name: 181453, dtype: object)
Series([], Name: 181456, dtype: object)
Series([], Name: 181460, dtype: object)
Series([], Name: 181471, dtype: object)
Series([], Name: 181473, dtype: object)
Series([], Name: 181479, dtype: object)
Series([], Name: 181485, dtype: object)
Series([], Name: 181486, dtype: object)
Series([], Name: 181487, dtype: object)
Series([], Name: 181488, dtype: object)
Series([], Name: 181489, dtype: object)
Series([], Name: 181503, dtype: object)
Series([], Name: 181505, dtype: object)
Series([], Name: 181511, dtype: object)
Series([], Name: 181517, dtype: object)
Series([], Name: 181523, dtype: object)
Series([], Name: 181533, dtype: object)
Series([], Name: 181534, dtype: object)
Series([], Name: 181535, dtype: object)
Series([], Name: 181537, dtype: object)
Series([], Name: 181545, dtype: object)
Series([], Name: 181548, dtype: object)
Series([], Name: 181554, dtype: object)
Series([], Name: 181559, dtype: object)
Series([], Name: 181568, dtype: object)
Series([], Name: 181572, dtype: object)
Series([], Name: 181575, dtype: object)
Series([], Name: 181576, dtype: object)
Series([], Name: 181580, dtype: object)
Series([], Name: 181582, dtype: object)
Series([], Name: 181588, dtype: object)
Series([], Name: 181591, dtype: object)
Series([], Name: 181593, dtype: object)
Series([], Name: 181599, dtype: object)
Series([], Name: 181606, dtype: object)
Series([], Name: 181607, dtype: object)
Series([], Name: 181618, dtype: object)
Series([], Name: 181623, dtype: object)
Series([], Name: 181624, dtype: object)
Series([], Name: 181625, dtype: object)
Series([], Name: 181627, dtype: object)
Series([], Name: 181649, dtype: object)
Series([], Name: 181659, dtype: object)
Series([], Name: 181662, dtype: object)
Series([], Name: 181673, dtype: object)
Series([], Name: 181674, dtype: object)
Series([], Name: 181678, dtype: object)
Series([], Name: 181691, dtype: object)
Series([], Name: 181693, dtype: object)
Series([], Name: 181712, dtype: object)
Series([], Name: 181717, dtype: object)
Series([], Name: 181726, dtype: object)
Series([], Name: 181740, dtype: object)
Series([], Name: 181742, dtype: object)
Series([], Name: 181746, dtype: object)
Series([], Name: 181747, dtype: object)
Series([], Name: 181753, dtype: object)
Series([], Name: 181759, dtype: object)
Series([], Name: 181764, dtype: object)
Series([], Name: 181771, dtype: object)
Series([], Name: 181778, dtype: object)
Series([], Name: 181780, dtype: object)
Series([], Name: 181783, dtype: object)
Series([], Name: 181784, dtype: object)
Series([], Name: 181787, dtype: object)
Series([], Name: 181790, dtype: object)
Series([], Name: 181791, dtype: object)
Series([], Name: 181799, dtype: object)
Series([], Name: 181800, dtype: object)
Series([], Name: 181810, dtype: object)
Series([], Name: 181816, dtype: object)
Series([], Name: 181822, dtype: object)
Series([], Name: 181825, dtype: object)
Series([], Name: 181829, dtype: object)
Series([], Name: 181837, dtype: object)
Series([], Name: 181849, dtype: object)
Series([], Name: 181859, dtype: object)
Series([], Name: 181865, dtype: object)
Series([], Name: 181871, dtype: object)
Series([], Name: 181874, dtype: object)
Series([], Name: 181879, dtype: object)
Series([], Name: 181880, dtype: object)
Series([], Name: 181882, dtype: object)
Series([], Name: 181898, dtype: object)
Series([], Name: 181905, dtype: object)
Series([], Name: 181915, dtype: object)
Series([], Name: 181916, dtype: object)
Series([], Name: 181922, dtype: object)
Series([], Name: 181929, dtype: object)
Series([], Name: 181933, dtype: object)
Series([], Name: 181934, dtype: object)
Series([], Name: 181937, dtype: object)
Series([], Name: 181938, dtype: object)
Series([], Name: 181941, dtype: object)
Series([], Name: 181943, dtype: object)
Series([], Name: 181945, dtype: object)
Series([], Name: 181947, dtype: object)
Series([], Name: 181965, dtype: object)
Series([], Name: 181976, dtype: object)
Series([], Name: 181978, dtype: object)
Series([], Name: 181982, dtype: object)
Series([], Name: 181995, dtype: object)
Series([], Name: 182001, dtype: object)
Series([], Name: 182005, dtype: object)
Series([], Name: 182009, dtype: object)
Series([], Name: 182014, dtype: object)
Series([], Name: 182015, dtype: object)
Series([], Name: 182022, dtype: object)
Series([], Name: 182030, dtype: object)
Series([], Name: 182039, dtype: object)
Series([], Name: 182040, dtype: object)
Series([], Name: 182046, dtype: object)
Series([], Name: 182054, dtype: object)
Series([], Name: 182074, dtype: object)
Series([], Name: 182077, dtype: object)
Series([], Name: 182084, dtype: object)
Series([], Name: 182087, dtype: object)
Series([], Name: 182091, dtype: object)
Series([], Name: 182094, dtype: object)
Series([], Name: 182095, dtype: object)
Series([], Name: 182097, dtype: object)
Series([], Name: 182120, dtype: object)
Series([], Name: 182121, dtype: object)
Series([], Name: 182122, dtype: object)
Series([], Name: 182126, dtype: object)
Series([], Name: 182133, dtype: object)
Series([], Name: 182144, dtype: object)
Series([], Name: 182145, dtype: object)
Series([], Name: 182153, dtype: object)
Series([], Name: 182161, dtype: object)
Series([], Name: 182178, dtype: object)
Series([], Name: 182182, dtype: object)
Series([], Name: 182184, dtype: object)
Series([], Name: 182185, dtype: object)
Series([], Name: 182186, dtype: object)
Series([], Name: 182193, dtype: object)
Series([], Name: 182210, dtype: object)
Series([], Name: 182211, dtype: object)
Series([], Name: 182218, dtype: object)
Series([], Name: 182228, dtype: object)
Series([], Name: 182229, dtype: object)
Series([], Name: 182239, dtype: object)
Series([], Name: 182241, dtype: object)
Series([], Name: 182242, dtype: object)
Series([], Name: 182247, dtype: object)
Series([], Name: 182269, dtype: object)
Series([], Name: 182277, dtype: object)
Series([], Name: 182288, dtype: object)
Series([], Name: 182289, dtype: object)
Series([], Name: 182319, dtype: object)
Series([], Name: 182323, dtype: object)
Series([], Name: 182332, dtype: object)
Series([], Name: 182336, dtype: object)
Series([], Name: 182340, dtype: object)
Series([], Name: 182350, dtype: object)
Series([], Name: 182359, dtype: object)
Series([], Name: 182364, dtype: object)
Series([], Name: 182378, dtype: object)
Series([], Name: 182400, dtype: object)
Series([], Name: 182401, dtype: object)
Series([], Name: 182404, dtype: object)
Series([], Name: 182405, dtype: object)
Series([], Name: 182408, dtype: object)
Series([], Name: 182421, dtype: object)
Series([], Name: 182422, dtype: object)
Series([], Name: 182426, dtype: object)
Series([], Name: 182429, dtype: object)
Series([], Name: 182432, dtype: object)
Series([], Name: 182435, dtype: object)
Series([], Name: 182445, dtype: object)
Series([], Name: 182446, dtype: object)
Series([], Name: 182474, dtype: object)
Series([], Name: 182483, dtype: object)
Series([], Name: 182489, dtype: object)
Series([], Name: 182490, dtype: object)
Series([], Name: 182508, dtype: object)
Series([], Name: 182510, dtype: object)
Series([], Name: 182515, dtype: object)
Series([], Name: 182528, dtype: object)
Series([], Name: 182534, dtype: object)
Series([], Name: 182537, dtype: object)
Series([], Name: 182541, dtype: object)
Series([], Name: 182543, dtype: object)
Series([], Name: 182548, dtype: object)
Series([], Name: 182554, dtype: object)
Series([], Name: 182557, dtype: object)
Series([], Name: 182564, dtype: object)
Series([], Name: 182574, dtype: object)
Series([], Name: 182590, dtype: object)
Series([], Name: 182593, dtype: object)
Series([], Name: 182599, dtype: object)
Series([], Name: 182601, dtype: object)
Series([], Name: 182610, dtype: object)
Series([], Name: 182615, dtype: object)
Series([], Name: 182616, dtype: object)
Series([], Name: 182621, dtype: object)
Series([], Name: 182622, dtype: object)
Series([], Name: 182624, dtype: object)
Series([], Name: 182640, dtype: object)
Series([], Name: 182657, dtype: object)
Series([], Name: 182662, dtype: object)
Series([], Name: 182667, dtype: object)
Series([], Name: 182688, dtype: object)
Series([], Name: 182702, dtype: object)
Series([], Name: 182704, dtype: object)
Series([], Name: 182708, dtype: object)
Series([], Name: 182715, dtype: object)
Series([], Name: 182718, dtype: object)
Series([], Name: 182721, dtype: object)
Series([], Name: 182724, dtype: object)
Series([], Name: 182738, dtype: object)
Series([], Name: 182744, dtype: object)
Series([], Name: 182748, dtype: object)
Series([], Name: 182750, dtype: object)
Series([], Name: 182751, dtype: object)
Series([], Name: 182765, dtype: object)
Series([], Name: 182777, dtype: object)
Series([], Name: 182788, dtype: object)
Series([], Name: 182792, dtype: object)
Series([], Name: 182795, dtype: object)
Series([], Name: 182800, dtype: object)
Series([], Name: 182804, dtype: object)
Series([], Name: 182808, dtype: object)
Series([], Name: 182810, dtype: object)
Series([], Name: 182832, dtype: object)
Series([], Name: 182838, dtype: object)
Series([], Name: 182844, dtype: object)
Series([], Name: 182845, dtype: object)
Series([], Name: 182850, dtype: object)
Series([], Name: 182855, dtype: object)
Series([], Name: 182862, dtype: object)
Series([], Name: 182868, dtype: object)
Series([], Name: 182873, dtype: object)
Series([], Name: 182882, dtype: object)
Series([], Name: 182888, dtype: object)
Series([], Name: 182895, dtype: object)
Series([], Name: 182900, dtype: object)
Series([], Name: 182903, dtype: object)
Series([], Name: 182906, dtype: object)
Series([], Name: 182932, dtype: object)
Series([], Name: 182938, dtype: object)
Series([], Name: 182942, dtype: object)
Series([], Name: 182947, dtype: object)
Series([], Name: 182956, dtype: object)
Series([], Name: 182959, dtype: object)
Series([], Name: 182961, dtype: object)
Series([], Name: 182969, dtype: object)
Series([], Name: 182973, dtype: object)
Series([], Name: 182979, dtype: object)
Series([], Name: 182987, dtype: object)
Series([], Name: 182990, dtype: object)

180000    []
180001    []
180014    []
180016    []
180018    []
          ..
189976    []
189979    []
189985    []
189987    []
189991    []
Length: 1695, dtype: object