In [20]:
from mlxtend.frequent_patterns import apriori,fpgrowth
# Convert your data to a one-hot encoded DataFrame
from mlxtend.frequent_patterns import association_rules
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder

In [ ]:
PATH_PROCESSED = "dados_processados/"

In [ ]:
df = pd.read_csv(PATH_PROCESSED + "itemsets.csv").dropna()

In [ ]:
def string_to_list(row):
    return row.split(";")

In [ ]:
dataset = df["TX_RESPOSTAS_CN_WRONG"].apply(string_to_list)

In [ ]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)

In [ ]:
df2 = pd.DataFrame(te_ary, columns=te.columns_)

In [22]:
frequent_itemsets = apriori(df2, min_support=0.1,use_colnames=True)

      support               itemsets
0    0.354317                 (Q1-A)
1    0.328057                (Q10-B)
2    0.217244                (Q11-C)
3    0.119153                (Q12-E)
4    0.188494                (Q13-E)
..        ...                    ...
361  0.110825  (Q41-C, Q28-C, Q42-D)
362  0.106572  (Q41-C, Q28-C, Q45-E)
363  0.138236   (Q9-A, Q41-C, Q28-C)
364  0.102103   (Q9-A, Q41-C, Q34-B)
365  0.115341   (Q40-C, Q41-C, Q9-A)

[366 rows x 2 columns]

In [ ]:
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)